body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

h1 {
  text-align: center;
}

.card {
  background-color: yellow;
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card img {
  margin-top: 1rem;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.buttons button img {
  width: 95%;
}

.user_buttons {
  margin-top: 1rem;

  display: flex;
  justify-content: space-between;
  width: 50%;
}

.user_buttons button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
