body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

h1 {
  text-align: center;
}

.card {
  background-color: yellow;
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.card img {
  margin-top: 1rem;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
